<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.darly.imageeditor" >
    <application>
    <!--图片编辑Activity-->
    <activity
        android:name=".editimage.EditImageActivity"
        android:screenOrientation="portrait">
    </activity>
    </application>
</manifest>