<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.darly.rnmodule" >

    <!--    高德地图SDK（包含其搜索功能）需要的基础权限-->

    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
<application>
    <activity
        android:name=".ui.ReactNativeMainActivity">
    </activity>
    <!--图片编辑Activity-->
    <activity
        android:name=".ui.RNStudyActivity">
    </activity>
    <activity
        android:name=".ui.ListEntityActivity">
    </activity>
    <!--增加有导航的界面-->
    <activity
        android:name=".ui.RNNavigatorActivity">
    </activity>
    <activity android:name="com.facebook.react.devsupport.DevSettingsActivity"/>


    <!-- 高德地图Key -->
    <meta-data android:name="com.amap.api.v2.apikey" android:value="key">
        39b5c2e1eb0f22fb87924adb02c690cf
    </meta-data>
</application>
</manifest>